# Análisis del Mercado de Bienes Raíces en Gran Santiago (2004-2020)

En este estudio, se llevará a cabo un análisis detallado del mercado de bienes raíces en la zona de Gran Santiago, en Chile, durante el período comprendido entre 2004 y 2020.

Este análisis se basa en datos de stock, ventas y la duración en meses para distintos tipos de propiedades, como departamentos, casas y viviendas, con el objetivo de proporcionar una visión completa de la evolución de este mercado a lo largo de los años.

A continuación una descripción de los nombres de las columnas y lo que representan.

**Stock:** unidades de viviendas nuevas (departamentos o casas) disponibles para venta en cada momento del tiempo.

**Ventas:** promesas de compraventa de viviendas nuevas firmadas en cada momento del tiempo.
						
**Meses:** medida de la velocidad de ventas que se calcula como el cociente entre el stock disponible en un mes concreto y las unidades vendidas en ese mismo mes. Representa el número de meses necesarios para vender todo el stock disponible asumiendo que el ritmo de ventas se mantendrá estable y no habrá ingreso de nuevas unidades.

In [76]:
#IMPORTANDO BIBLIOTECAS NECESARIAS PARA EL PROYECTO

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [77]:
df = pd.read_excel('GranSantiagoMercadoWeb.xls')
print(df.head())

  MERCADO GRAN SANTIAGO Unnamed: 1 Departamentos Unnamed: 3 Unnamed: 4  Casas  \
0                   NaN        NaN         Stock     Ventas      Meses  Stock
1                  2004        Ene         22001        960  22.917708   9068
2                   NaN        Feb         21434        841  25.486326   8447
3                   NaN        Mar         20593       1193  17.261526   7761
4                   NaN        Abr         20866       1282  16.276131   7370

  Unnamed: 6 Unnamed: 7 Viviendas Unnamed: 9 Unnamed: 10
0     Ventas      Meses     Stock     Ventas       Meses
1        540  16.792593     31069       1500   20.712667
2        556  15.192446     29881       1397   21.389406
3        788   9.848985     28354       1981   14.312973
4        754   9.774536     28236       2036   13.868369

Eliminaremos las columnas de 'Casas' y 'Viviendas' para especificarnos en los precios de los Departamentos

In [78]:
# Lista de índices de las columnas a eliminar
column_indices_to_remove = [5, 6, 7, 8, 9, 10]

# Eliminar las columnas usando iloc
df = df.drop(df.columns[column_indices_to_remove], axis=1)

print(df.head())

  MERCADO GRAN SANTIAGO Unnamed: 1 Departamentos Unnamed: 3 Unnamed: 4
0                   NaN        NaN         Stock     Ventas      Meses
1                  2004        Ene         22001        960  22.917708
2                   NaN        Feb         21434        841  25.486326
3                   NaN        Mar         20593       1193  17.261526
4                   NaN        Abr         20866       1282  16.276131

In [80]:
# Cambiando los nombres de las columas para no confundirse con los unamed 1 o los titulos
df = df.rename(columns={'MERCADO GRAN SANTIAGO': 'AAA', 'Unnamed: 1': 'MMM', 'Departamentos': 'Stock', 'Unnamed: 3': 'Ventas', 'Unnamed: 4': 'Meses'})

# Eliminando la fila 0 con los titulos de las columnas que no representan datos reales
df = df.drop(df.index[0])

# Imprimimos para ver resultados
print(df.head())

    AAA  MMM  Stock Ventas      Meses
1  2004  Ene  22001    960  22.917708
2   NaN  Feb  21434    841  25.486326
3   NaN  Mar  20593   1193  17.261526
4   NaN  Abr  20866   1282  16.276131
5   NaN  May  23294   1588  14.668766

In [89]:
#  Llenamos los valores NaN en la columna 'AAA' con los valores anteriores 
df['AAA'] = df['AAA'].ffill()

# Imprimimos para ver resultados
print(df.head(15))

     AAA  MMM  Stock Ventas      Meses
1   2004  Ene  22001    960  22.917708
2   2004  Feb  21434    841  25.486326
3   2004  Mar  20593   1193  17.261526
4   2004  Abr  20866   1282  16.276131
5   2004  May  23294   1588  14.668766
6   2004  Jun  21591   1540   14.02013
7   2004  Jul  22443   1775  12.643944
8   2004  Ago  20841   1741  11.970706
9   2004  Sep  21970   1471  14.935418
10  2004  Oct  22088   1356  16.289086
11  2004  Nov  24387   1037  23.516876
12  2004  Dic  19918    939  21.211928
13  2005  Ene  19354    899  21.528365
14  2005  Feb  21826    990  22.046465
15  2005  Mar  21213   1007  21.065541

In [90]:
# Imprimimos la informacion general para verificar que todo este correcto

print("Información del dataset:")
print(df.info())
print("\n\n")

print("Descripción del dataset:")
print(df.describe())

Información del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 1 to 241
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAA     241 non-null    object
 1   MMM     235 non-null    object
 2   Stock   237 non-null    object
 3   Ventas  234 non-null    object
 4   Meses   234 non-null    object
dtypes: object(5)
memory usage: 9.5+ KB
None



Descripción del dataset:
         AAA  MMM  Stock  Ventas       Meses
count    241  235    237     234  234.000000
unique    21   13    237     222  234.000000
top     2004  Ene  22001    1741   22.917708
freq      12   20      1       3    1.000000

In [91]:
# Recuento de valores nulos para cada columna 
df.isnull().sum()

AAA       0
MMM       6
Stock     4
Ventas    7
Meses     7
dtype: int64

Que hacer: 
- Revisar campos nulos
- Rellenar campos nulos? 
- Graficar datos
- Aplicar algoritmos de ML